src/build
src/codexrebirth.egg-info
src/dist
diff.txt
install.bat
config.json
TheCodexRebirth.code-workspace
notes.txt
codexrebirth_config.json
test*
test.py
tracer-win64-kernel/WinDbgStalker/x64
tracer-win64-kernel/.vs
.*pyc
tracer-gdb/inactivity_alert.py
install.sh
plugins/tenet/tracer/jump_tracer.py
.DS_Store