{
    "rootfs_path": "C:/Users/*****/source/rootfs/",
    "log_plain": true,
    "debug_level": 1,
    "openai_key": "sk-1234567890abcdefg",
    "timeout" : 120,
    "similarity_factor": 0.65,
    "symbolic_check": false
}